body {
    background-color: blue;
    line-height: 1.8rem;
}

.container {
    display: grid;
    grid-template-columns: 25% 65% 10%;
    grid-template-rows: repeat(3, );
    margin: 0 10%;
}

header {
    grid-column: 1 / 3;
    grid-row: 1;
}

nav {
    grid-column: 3;
    grid-row: 1 / 4;
    background-color: #bce877;
    text-transform: uppercase;
    padding: 0.5rem;
    border: 3px solid #f896a7;
    text-align: left;
    color: yellow;
    min-width: 70px;
}

aside {
    grid-column: 1;
    grid-row: 2;
    background-color: black;
    color: white;
    padding: 0.5rem;
}

img {
/*    width: 100%;*/
}

.blurb-container {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    text-align: center;
    color: white; 
}

.blurb {
    position: absolute;
    text-align: left;
    font-size: 20px;
    top: 8px;
    left: 16px;
    margin: 10px;
}

nav > ul {
    list-style-type: none;
    padding-left: 0;
}

ul {
    text-align: left;
}

li {
    padding: 0.3rem 0;
}

#house-img {
    grid-column: 1 / 3;
    padding: 20px 50px 0 0;
}