html {
    margin: auto;
}

body {
    margin: 5vh 15vw;
    display: grid;
    text-align: center;
    justify-items: center;
}

#intro {
    text-align: left;
    border: 1px solid #242486;
    color: #242486;
    padding: 1vw;
    background-color: #64ef9f;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
/*    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
}

ul {
    list-style: none;
    padding: 0;

}

.middle-col {
    text-align: left;
    margin: 2vw;
}

footer {
    
}


.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-blurb {
    max-width: 400px;
    
}

#glass_a {
    transform:rotateY(180deg);
}