body {
    background-color: blue;
    display: grid;
    grid-template-columns: 25% 65% 10%;
    grid-template-rows: repeat(2, );
    line-height: 1.8rem;
}

header {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: black;
}

nav {
    grid-column: 3;
    grid-row: 1 / 3;
    background-color: #bce877;
    text-transform: uppercase;
    padding: 0.5rem;
    border: 3px solid #f896a7;
}

aside {
    grid-column: 1;
    grid-row: 2;
    background-color: black;
    color: white;
    padding: 0.5rem;
}

img {
    width: 100%;
}

.container {
    grid-column: 2;
    grid-row: 2;
    position: relative;
    text-align: center;
    color: white;
    background-color: black;
}

.blurb {
    position: absolute;
    text-align: left;
    font-size: 20px;
    top: 8px;
    left: 16px;
    margin: 10px;
}

nav > ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 0.3rem 0;
}